@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #fff;
}

.header-area .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-area.header-search {
  background: #f1f1f1;
}

.header-area.header-search .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-area.header-search .logo a {
  margin-right: 50px;
}

.header-area.header-search .header-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
}

.header-area.header-search .header-search-form .input-group {
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-area.header-search .header-search-form button {
  border: none;
  background: none;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  text-decoration: none;
  display: block;
  color: #1a1717;
  font-weight: 500;
  padding: 25px 15px;
  text-transform: uppercase;
}

.navigation ul li:hover a {
  color: #4285f4;
}

.search-form-area {
  height: calc(100vh - 120px);
}

.search-form-area .container-fluid {
  height: 100%;
}

.search-form-area .container {
  height: 100%;
}

.search-form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sf-box .sf-box-header {
  margin-bottom: 25px;
  text-align: center;
}

.sf-box .sf-box-body {
  text-align: center;
}

.sf-box .sf-box-body h3 {
  font-size: 14px;
  color: #6c6c6c;
  margin-bottom: 10px;
  font-weight: 200;
}

.sf-box .btn {
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px 25px;
  border-radius: 2px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.sf-box .btn.submit-btn {
  border-color: #46a549;
  background: #4caf50;
  color: #fff;
}

.input-group {
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #d3d3d3;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
  border-radius: 50px;
}

.input-group .input-control {
  border: none;
  background: none;
  outline: none;
  min-height: 30px;
  width: calc(100% - 20px);
  font-size: 16px;
}

.input-group:hover {
  -webkit-box-shadow: 0px 1px 5px #00000038;
          box-shadow: 0px 1px 5px #00000038;
}

.footer-area {
  background: #f8fcf1;
  padding: 10px 0px;
}

.section-padding {
  padding: 50px 0px 100px;
}

.auth-content-area {
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-box-area {
  padding: 50px 0px;
}

.sr-box {
  border: 1px solid #f1f1f1;
}

.sr-box-header {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sr-box-header .sr-box-header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sr-box-header .sr-box-header-item h4 {
  margin-right: 10px;
  font-size: 14px;
  margin: 0px;
}

.sr-box-header .sr-box-header-item .sr-box-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sr-box-header .sr-box-header-item .sr-box-nav ul li {
  display: inline-block;
}

.sr-box-header .sr-box-header-item .sr-box-nav ul li a {
  display: block;
  padding: 5px;
}

.sr-box-body {
  padding: 10px;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-item:last-child {
  margin-bottom: 0px;
  border: none;
}

.search-item .search-item-icon {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.search-item .search-item-icon img {
  width: 100%;
}

.search-item .search-item-content {
  width: calc(100% - 150px);
}

.search-item-title h3 {
  display: inline;
  font-size: 16px;
  color: #202020;
  margin: 0px;
  font-weight: 500;
}

.search-item-desc p {
  font-weight: 200;
  font-size: 12px;
}

.search-item-desc p span {
  margin-right: 10px;
}

.search-item-desc p span strong {
  font-weight: 500;
  color: #616161;
}

.search-item-action {
  width: 100px;
}

.search-item-action ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.search-item-action ul li {
  display: inline-block;
}

.search-item-action ul li a {
  display: block;
  border: 1px solid #46a549;
  padding: 5px 10px;
  font-size: 18px;
  color: #2b2b2b;
  border-radius: 50%;
}

.search-item-action ul li a:hover {
  background-color: #46a549;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */