@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #fff;
}

.header-area {
    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &.header-search {
        background: #f1f1f1;

        .logo {
            display: flex;

            a {
                margin-right: 50px;
            }
        }

        .header-search-form {
            display: flex;
            align-items: center;
            margin-top: 1px;
        }

        .header-search-form .input-group {
            margin-bottom: 0px;
            border-radius: 0px;
            padding: 8px 10px;
            box-shadow: none
        }

        .header-search-form button {
            border: none;
            background: none
        }
    }
}

.navigation {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                display: block;
                color: #1a1717;
                font-weight: 500;
                padding: 25px 15px;
                text-transform: uppercase;
            }

            &:hover a {
                color: #4285f4;
            }
        }
    }
}

.search-form-area {
    height: calc(100vh - 120px);
    .container-fluid {
        height: 100%;
    }
    .container {
        height: 100%;
    }
}

.search-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.sf-box {
    .sf-box-header {
        margin-bottom: 25px;
        text-align: center;
    }

    .sf-box-body {
        text-align: center;

        h3 {
            font-size: 14px;
            color: #6c6c6c;
            margin-bottom: 10px;
            font-weight: 200;
        }
    }

    .btn {
        border: 1px solid #ddd;
        background: #fff;
        padding: 10px 25px;
        border-radius: 2px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;

        &.submit-btn {
            border-color: #46a549;
            background: #4caf50;
            color: #fff;
        }
    }
}

.input-group {
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    border-radius: 50px;

    .input-control {
        border: none;
        background: none;
        outline: none;
        min-height: 30px;
        width: calc(100% - 20px);
        font-size: 16px;
    }

    &:hover {
        box-shadow: 0px 1px 5px #00000038;
    }
}

.footer-area {
    background: #f8fcf1;
    padding: 10px 0px;
}

.section-padding {
    padding: 50px 0px 100px;
}

.auth-content-area {
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box-area {
    padding: 50px 0px;
}

.sr-box {
    border: 1px solid #f1f1f1;
}

.sr-box-header {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .sr-box-header-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        h4 {
            margin-right: 10px;
            font-size: 14px;
            margin: 0px
        }
        .sr-box-nav {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;

                    a {
                        display: block;
                        padding: 5px;
                    }
                }
            }
        }
    }
}

.sr-box-body {
    padding: 10px;
}

.search-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    align-items:  center;

    &:last-child {
        margin-bottom: 0px;
        border: none
    }

    .search-item-icon {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;

        & img {
            width: 100%;
        }
    }

    .search-item-content {
        width: calc(100% - 150px);
    }

}

.search-item-title h3{
    display: inline;
    font-size: 16px;
    color: #202020;
    margin: 0px;
    font-weight: 500;
}

.search-item-desc {
    p {
        font-weight: 200;
        font-size: 12px;

        span {
            margin-right: 10px;

            strong {
                font-weight: 500;
                color: #616161;
            }
        }
    }
}

.search-item-action {
    width: 100px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li {
            display: inline-block;
            a {
                display: block;
                border: 1px solid #46a549;
                padding: 5px 10px;
                font-size: 18px;
                color: #2b2b2b;
                border-radius: 50%;
                &:hover {
                    background-color: #46a549;
                    color: #fff;
                }
            }
        }
    }

}
